<div class="row">
    <div class="4u match-tile" ng-repeat="match in recentMatches">
        <article class="item match">
            <header>
                <h3>
                    <strong class="winner-{{match.team1.isWinner}}">{{match.team1.win}} {{match.team1.name}}</strong>
                    <!--<strong class="score">{{match.result}}</strong>-->
                    <i class="icon-versus"></i>
                    <strong class="winner-{{match.team2.isWinner}}">{{match.team2.name}}</strong>
                    <!--<img class="match-tournament" src="{{match.tournament.logo}}">-->
                </h3>
            </header>
        </article>
    </div>
</div>